
  /* Add padding to containers */
  h1{
      color: white; 
      text-align: center;
    
  }
  p{
      color: rgb(160, 12, 12);
      text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  .container {
  
    background-color:inherit; 
    width: 80%;
    height: 100%;
    border: 1px solid rgb(122, 9, 9);
    padding: 1px;
    margin: auto;
    
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display:inline-block;
    border: none;
    background: #f1f1f16c;
    
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(221, 221, 221, 0.678);
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: rgb(28, 100, 172);
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .container-signin {
    background-color: #362b2b8c;
    text-align: center;
    display:inline-block;
    width: 100%;
   
    
    
  }