 /*this is foe the frist section  background image if we want put url in image and remove the 
  background colour*/
  .section1{
    background-image: url("2396212.jpg");
    background: linear-gradient(to right, #070816 -10%, #0d0d63 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: auto;
    box-sizing: border-box;
    


  }
    
    /*for logo configation*/
#sectionlogo{
    width: 50%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
  margin-right: auto;
    display: block;
    overflow: hidden; 
    
}

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    
    padding: 1%;
    height: 700px; /* Should be removed. Only for demonstration */
  }
  .left {
    width: 50%;
  }
  .right{
      width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .linesize{
    line-height: 0.1px;
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
/*for font size and line distance between them */
.veer{
     
    text-align: center;
    color: white;
    font-size: 25px;
    

    
}
.purvanchal{
     
  text-align: center;
  color: white;
  font-size: 35px;
}